.inputContainer {
    display: flex;
    gap: 1rem;
    margin: 1rem;
}

.submitBtn {
    background-color: #3a3f9b;
    color: white;
    border: 1px solid #fff;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

.submitBtn:hover {
  color: #3a3f9b;
  background-color: white;
  border: 1px solid #3a3f9b;
}
  
  .tiers {
    max-width: 33%;
  }

  .flex {
    display: flex;
    gap: 0.5rem;
  }

  @media (max-width: 768px) {
    .inputContainer {
      flex-direction: column;
    }
  }