.listContainer {
    border: 2px solid #3a3f9b;
    border-radius: 25px;
    margin: 1rem;
    width: fit-content;
    background-color: #ffffff;
    position: relative;
    padding: 2rem;
    color: #151631;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  }

  .headerList {
    font-weight: bold;
    background-color: #3a3f9b;
    color: white;
    padding: 1rem;
    border-radius: 10px 10px 0px 0px;
  }

  .headerListNeeded {
    background-color: #833161;
  }

  .btnTakeCare {
    background-color: #833161;
    border: 1px solid white;
  }

  .btnTakeCare:hover {
    background-color: white;
    color: #833161;
    border: 1px solid #833161;
  }
  
  .headerList > p {
    color: white;
  }
  
  .listItem, .listNeededItem {
    display: grid;
    grid-template-columns: 1.2fr 0.3fr 1.2fr 0.3fr; /* Les trois premiers éléments ont la même taille, le dernier est plus petit */
  }

  .emptyList {
    margin: 1rem;
    font-style: italic;
  }

  .showNeedBtn {
    position: absolute;
    top: 1rem;
    right : 1rem;
    background-color: #833161;
    border: 3px solid #833161;
  }

  .showNeedBtn:hover {
    background-color: white;
    color: #833161;
    border: 3px solid #833161;
    font-weight: bold;
  }

  .items {
    padding: 1rem 1rem;
    margin: 0;
    border-top: none;
    background-color: rgb(233, 233, 233);
    font-weight: bold;
  }

  .items:nth-child(even) {
    background-color: #FFFFFF;
  }

  .action {
    text-align: center;
    align-self: center;
  }

  .trashcan {
    margin-right: auto;
    margin-left: auto;
  }



  @media (max-width: 768px) {
    .listContainer{
      width: 100vw;
      padding: 1rem;
    }
  }