.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
  }

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
  }
}